@font-face {
    font-family: "spidermanFont";
    src: url("../font/FarFromHomecoming.otf");
}

@font-face {
    font-family: "montserrat";
    src: url(/assets/font/Montserrat-VariableFont_wght.ttf);
}

body {
    color: white;
    background-color: #B11313;
    padding: 0;
    margin: 0;
    font-family: "montserrat";
}

.headers {
    background-color: #B11313;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.headers img {
    margin-left: 2%;
}

.headers a {
    margin-left: 4%;
    text-decoration: none;
    color: white;
}

#acceuil {
    margin-left: 20%;
}

.bottomHeader {
    background-image: url(../Illustration/img1.png);
    background-repeat: no-repeat;
    padding-top: 22%;
    padding-left: 10%;
    background-size: contain;
}

.title h1 {
    font-family: "spidermanFont";
    font-size: 75px;
}

.button {
    padding-top: 7%;
}

.btn-primary {
    border-radius: 15px;
    background-color: #4D0808;
    border-color: white;
}

.btn-primary:hover {
    background-color: white;
    border-color: white;
    color: #4D0808;
}

.btn-Heros {
    color: #4D0808;
    border-radius: 15px;
    background-color: white;
    border-color: white;
    margin-right: 2%;
}

.btn-Heros:hover {
    color: white;
    background-color: #4D0808;
    border-color: white;
}

.button h4 {
    margin-top: 3%;
    color: white;
}

.button h3 {
    margin-top: 10%;
    color: white;
    font-family: "spidermanFont";
    text-transform: uppercase;
}

.image_horizontal {
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.image_horizontal p {
    text-align: justify;
}

.image_horizontal img {
    width: 100%;
}

.deviens-spiderman {
    background-color: #114c92;
    padding-right: 10%;
}

.deviens-spiderman h3 {
    padding-top: 2%;
    font-family: "spidermanFont";
}

.deviens-spiderman img {
    width: 75%;
}

.formToGet input {
    margin-bottom: 1%;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border-color: transparent;
    margin-bottom: 5%;
}

.buttonSubmit {
    text-align: center;
}

.formToGet button {
    background-color: #114c92;
    color: white;
    border-radius: 25px;
    border-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 24px;
    margin-bottom: 10%;
}

.formToGet button:hover {
    background-color: #2d68b1;
}

.inscrisToi {
    margin-left: 10%;
    margin-top: 3%;
}

.inscrisToi img {
    width: 100%;
}

.inscritAnewLetter h3 {
    font-family: "spidermanFont";
    text-transform: uppercase;
}

#nameNewsletter,
#emailnewsLetter {
    color: white;
    border-color: white;
    background-color: #B11313;
    width: 75%;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 5%;
}

footer {
    color: white;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 300px;
    font-size: 14px;
}

footer img {
    margin-left: 1%;
}

#imgMemeTailleFooter {
    height: 40%;
}

footer a {
    color: white;
}

footer select {
    background-color: #B11313;
    height: 30px;
    border-radius: 15px;
    width: 50%;
    /* margin-left: 2%; */
}

.footerContent a {
    text-align: center;
    vertical-align: middle;
    margin-right: 5%;
}

.icon img {
    background-color: #B11313;
    border-radius: 50%;
}

#copyright {
    margin-top: 3%;
}